*{
    text-decoration: none;
    list-style: none;
}
body,html,#app,.nav,.bgbox{
    height: 100%;
}
.bgbox{
    background-image: url("/static/timg.jpg");
}
.loginBox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 13rem;
    height: 13rem;
    border: 1px solid white;
}
.loginBox span{
    font-size: .8rem;
    color: #ffffff;
}
.loginBox>div{
    height: 2rem;
}
.loginBox button{
    width: 6rem;
    margin-top: 1rem;
    background-color: transparent;
    color: #ffffff;
    height: 2rem;
}
.loginBox h1{
    color: #ffffff;
    font-size: 1rem;
    height: 3rem;
    margin: 0;
}
.nav{
    background-color: #f8f8f8;
    width: 85px;
    border-right: 1px solid #f8f8f8;
    box-shadow: 0rem 0rem 1rem 0.1rem;
    margin-right: 1rem;
}
.nav span{
    font-size: .8rem;
    margin-top: .5rem;
}
.userImg{
    padding: 1rem;
}
.tableBox{
    align-items: flex-start !important;
    background-color:#f8f8f8;
    height: 100%;
}
.indexTable{
    width: 14rem;
    font-size: .7rem;
    background-color: #f8f8f8;
}
.title{
    border: 1px solid;
   border-bottom: 0;
}
.title,.content{
    background-color:#ffffff;
    border-right: 0;
}
.content{
    border: 1px solid;
    border-right: 0;
}
.title .van-col,.content .van-col{
    border-right:1px solid; 
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
}
.content button{
    font-size: .5rem !important;
    background-color: black;
    color: #ffffff;
    border: 0;
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
}
.van-pagination__item--active{
    background-color:#000000 !important;
}
button, input, textarea{
    font: menu !important;
}
.add button{
    width: 5rem;
    height: 2rem;
    background-color: #000000;
    color: #ffffff;
    border:0;
}
.add{
    width: 100%;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
.van-popup--center{
    width: 13rem;
    height: 10rem;
}
.dailog span{
    font-size: .7rem;
}
.dailog button{
    width: 3rem;
    height: 1.5rem;
    background-color: #000000;
    color: #ffffff;
    border:0;
}
.dailog div{
    height: 4rem;
    line-height: 2rem;
}
.saveCancel .save{
    margin-right: 1rem;
}
.saveCancel button{
    font-size: .6rem !important;
}
.dailog h1{
    font-size: 1rem;
}
.Ip,.dailog input{
    width: 8rem ;
    height: 1rem ;
    margin-left: .5rem;
}
.vipDetail{
    width: 100%;
    margin-top: 1rem;
}
.vipDetail span{
    font-size: .7rem;
    font-weight: bold;
    width: 5rem;
}
.vipDetail button,.business button{
    width: 5rem;
    height: 2rem;
    background-color: #000;
    color: #fff;
    border: 0;
    margin-top: .5rem;
}
.vipDetail .van-uploader__preview-image,.businessHead .van-uploader__preview-image{
    width: 10rem !important;
}
.van-col{
    overflow: auto;
}

   /* 合作商家组件 */
  
.business h1{
    font-size: .7rem;
    width: 5rem;
}
.businessLogoList{
    overflow-x: scroll;
    white-space: nowrap;
    padding-top: 1rem;
}
.businessLogo span,.businessHead span{
    font-size: .7rem;
    font-weight: bold;
}
.businessLogo{
    margin-top: 1rem;
}
.business{
    overflow-y: scroll;
    height: 100%;
}
.business button{
    margin-top: 0
}
.businessLogoList .van-image{
    margin-right: .5rem;
}
.business .van-cell{
    border-bottom: 1px solid;
}
